<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TFSArtifactManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TFSArtifactManager.Properties.Settings>
            <setting name="TfsServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="MassLastSourceControlExclusions" serializeAs="String">
                <value />
            </setting>
            <setting name="MassLastWorkItemId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TfsWebUrlPort" serializeAs="String">
                <value>8090</value>
            </setting>
            <setting name="DbPackageDbType" serializeAs="String">
                <value>0</value>
            </setting>
        </TFSArtifactManager.Properties.Settings>
    </userSettings>
</configuration>
